.title-product {
  font-size:24px;
  font-weight:600;
  margin:0px;
  line-height:32px;
  color:#000;
  padding-bottom:0px;
  margin-bottom:10px
}
.gallery-top .swiper-slide {
  padding-bottom:100%;
  display:block;
  height:0;
  background:#fff;
  overflow:hidden;
  border-radius:5px
}
.gallery-top .swiper-slide img {
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  max-width:99%;
  max-height:100%;
  width:auto !important;
  height:auto !important;
  position:absolute;
  border-radius:5px
}
.gallery-top .play-video {
  display:inline-flex;
  align-items:center;
  position:absolute;
  z-index:9;
  bottom:10px;
  left:10px;
  padding:5px 10px;
  box-shadow:0 0px 2px 0 #0ea04b,0 0px 3px 0px #0ea04b;
  background:#fff;
  border-radius:36px
}
.gallery-top .play-video span {
  font-size:16px;
  font-weight:600;
  display:inline-block;
  margin-right:5px
}
.gallery-top .play-video img {
  height:28px;
  width:28px
}
.box_pro_img {
  position:sticky;
  top:10px
}
@media (max-width: 991px) {
  .box_pro_img {
    margin-bottom:25px;
    position:relative
  }
}
.product-image-block {
  position:relative
}
.product-image-block .product-percent {
  position:absolute;
  left:5px;
  top:5px;
  z-index:9;
  display:block;
  background:red;
  color:#fff;
  text-align:center;
  padding:5px 10px;
  font-weight:500;
  font-size:13px;
  border-radius:0 0 10px 10px
}
.product-image-block .product-percent span {
  display:block
}
@media (max-width: 991px) {
  .product-image-block {
    margin-bottom:20px
  }
}
@media (max-width: 991px) {
  .gallery-top {
    position:relative;
    margin-bottom:10px !important;
    display:block
  }
  .gallery-top .swiper-slide {
    padding-bottom:100%;
    display:block;
    height:0
  }
  .gallery-top .swiper-slide img {
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    max-width:99%;
    max-height:100%;
    width:auto !important;
    height:auto !important;
    position:absolute
  }
  .gallery-thumbs {
    position:relative;
    display:block;
    padding:0px 3px
  }
  .gallery-thumbs .swiper-slide {
    border:1px solid #e4e4e4;
    cursor:pointer;
    background:#fff;
    overflow:hidden;
    border-radius:5px
  }
  .gallery-thumbs .swiper-slide .p-100 {
    padding-bottom:100%;
    height:0;
    position:relative
  }
  .gallery-thumbs .swiper-slide .p-100 img {
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    max-width:100%;
    max-height:100%;
    width:auto !important;
    height:auto !important;
    position:absolute;
    padding:3px;
    border-radius:5px
  }
  .gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
    border-color:#0ea04b
  }
  .gallery-thumbs .swiper-slide:hover {
    border-color:#0ea04b
  }
  .gallery-thumbs .swiper-button-next,
  .gallery-thumbs .swiper-button-prev {
    width:24px;
    height:24px;
    border-radius:50%;
    top:60%
  }
  .gallery-thumbs .swiper-button-next {
    right:5px
  }
  .gallery-thumbs .swiper-button-prev {
    left:5px
  }
  .gallery-thumbs .swiper-button-next,
  .gallery-thumbs .swiper-button-prev {
    background:transparent
  }
  .gallery-thumbs .swiper-button-next:after,
  .gallery-thumbs .swiper-button-prev:after {
    font-size:14px;
    font-weight:bold;
    background:#fff;
    padding:6px 9px;
    color:#333;
    width:24px;
    height:24px;
    box-shadow:0 1px 2px 2px rgba(0,0,0,0.04);
    border-radius:50%
  }
  .gallery-thumbs .swiper-button-next:hover:after,
  .gallery-thumbs .swiper-button-prev:hover:after {
    background-color:#0ea04b
  }
  .gallery-thumbs .swiper-button-next.swiper-button-disabled,
  .gallery-thumbs .swiper-button-prev.swiper-button-disabled {
    display:none
  }
}
@media (min-width: 992px) {
  .gallery-top {
    position:relative;
    margin-bottom:10px;
    display:block;
    width:calc(100% - 130px);
    margin-right:0px !important
  }
}
@media (min-width: 992px) and (min-width: 767px) and (max-width: 992px) {
  .gallery-top {
    width:calc(100% - 150px)
  }
}
@media (min-width: 992px) and (max-width: 767px) {
  .gallery-top {
    width:calc(100% - 80px)
  }
}
@media (min-width: 992px) {
  .gallery-top .swiper-slide {
    padding-bottom:100%;
    display:block;
    height:0
  }
  .gallery-top .swiper-slide img {
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    max-width:99%;
    max-height:100%;
    width:auto !important;
    height:auto !important;
    position:absolute
  }
  .gallery-thumbs {
    margin-top:0px !important;
    display:block;
    padding:0px 3px;
    width:120px;
    position:absolute !important;
    top:0px;
    height:100%;
    left:0px
  }
}
@media (min-width: 992px) and (min-width: 767px) and (max-width: 992px) {
  .gallery-thumbs {
    width:140px
  }
}
@media (min-width: 992px) and (max-width: 767px) {
  .gallery-thumbs {
    width:70px
  }
}
@media (min-width: 992px) {
  .gallery-thumbs .swiper-slide {
    border:1px solid #e4e4e4;
    cursor:pointer;
    background:#fff;
    overflow:hidden;
    border-radius:5px
  }
  .gallery-thumbs .swiper-slide .p-100 {
    padding-bottom:100%;
    height:0;
    position:relative
  }
  .gallery-thumbs .swiper-slide .p-100 img {
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    max-width:100%;
    max-height:100%;
    width:auto !important;
    height:auto !important;
    position:absolute;
    padding:2px;
    border-radius:5px
  }
  .gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
    border-color:#0ea04b
  }
  .gallery-thumbs .swiper-slide:hover {
    border-color:#0ea04b
  }
  .gallery-thumbs .swiper-button-next,
  .gallery-thumbs .swiper-button-prev {
    width:24px;
    height:24px;
    border-radius:50%;
    transform:rotate(90deg)
  }
  .gallery-thumbs .swiper-button-next {
    right:45px;
    top:auto !important;
    bottom:5px
  }
}
@media (min-width: 992px) and (min-width: 767px) and (max-width: 1025px) {
  .gallery-thumbs .swiper-button-next {
    right:30px
  }
}
@media (min-width: 992px) {
  .gallery-thumbs .swiper-button-prev {
    left:45px;
    top:25px !important
  }
}
@media (min-width: 992px) and (min-width: 767px) and (max-width: 1025px) {
  .gallery-thumbs .swiper-button-prev {
    left:30px
  }
}
@media (min-width: 992px) {
  .gallery-thumbs .swiper-button-next,
  .gallery-thumbs .swiper-button-prev {
    background:transparent
  }
  .gallery-thumbs .swiper-button-next:after,
  .gallery-thumbs .swiper-button-prev:after {
    font-size:14px;
    font-weight:bold;
    background:#fff;
    padding:5px 8px;
    color:#333;
    width:24px;
    height:24px;
    box-shadow:0 1px 2px 2px rgba(0,0,0,0.04);
    border-radius:50%
  }
  .gallery-thumbs .swiper-button-next:hover:after,
  .gallery-thumbs .swiper-button-prev:hover:after {
    background-color:#0ea04b
  }
  .gallery-thumbs .swiper-button-next.swiper-button-disabled,
  .gallery-thumbs .swiper-button-prev.swiper-button-disabled {
    display:none
  }
  .gallery-thumbs .swiper-button-next:after {
    padding:5px 10px
  }
}
.product-note {
  margin-bottom:15px
}
.product-note .header {
  font-weight:600;
  margin-bottom:5px
}
.product-note .note-box {
  position:relative
}
.product-note .note-box svg {
  position:absolute;
  top:0;
  left:0;
  width:40px;
  height:40px;
  margin:0;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:10px
}
.product-note .note-box input {
  width:100%;
  border:0 none;
  padding:0 10px 0 40px;
  line-height:38px;
  background:#fff;
  color:#333;
  border:solid 1px #7d7d7d;
  -webkit-transition:0.2s ease-in-out;
  transition:0.2s ease-in-out;
  border-radius:38px
}
@media (min-width: 992px) and (max-width: 1025px) {
  .gallery-top {
    width:calc(100% - 102px)
  }
  .gallery-thumbs {
    width:92px
  }
}
.img_producto_container {
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
  cursor:zoom-in
}
.img_producto_container:hover .img_producto,
.img_producto_container:active .img_producto {
  opacity:1
}
.img_producto {
  width:450px;
  height:450px;
  box-shadow:0 5px 10px -2px rgba(0,0,0,0.3);
  pointer-events:none;
  position:absolute;
  z-index:99;
  border-radius:100%;
  display:block;
  opacity:0;
  transition:opacity 0.2s
}
.seeing_product {
  display:flex;
  align-items:center;
  font-size:16px;
  font-weight:400;
  margin-bottom:10px
}
.seeing_product svg,
.seeing_product span {
  margin-right:5px
}
@keyframes zoom-show-view {
  0% {
    opacity:1
  }
  50% {
    opacity:0.7
  }
  50% {
    opacity:0.5
  }
  70% {
    opacity:0.2
  }
  100% {
    opacity:0
  }
}
.seeing_product svg {
  -webkit-animation:zoom-show-view 1500ms infinite;
  -moz-animation:zoom-show-view 1500ms infinite;
  -o-animation:zoom-show-view 1500ms infinite;
  animation:zoom-show-view 1500ms infinite;
  font-weight:500
}
.motangan {
  background:#f9f9f9;
  margin-bottom:15px;
  border-radius:5px;
  border-left: 2px solid #0ea04b;
  padding:7px 7px 2px
}
.motangan h3 {
  font-size:18px;
  font-weight:800
}
.motangan p {
  margin-bottom:5px;
  font-size: 15px;
  line-height: 1.5;
}
.motangan ul {
  list-style:initial;
  padding-left:25px
}
.motangan img,
.motangan iframe,
.motangan table {
  display:none
}
.product-spec {
  margin-bottom:25px
}
@media (max-width: 767px) {
  .product-spec {
    margin-top:18px
  }
}
.product-spec .product_getcontent {
  border-bottom:1px solid #f1f1f1;
  max-height:250px;
  overflow:hidden
}
.product-spec .bea-pro__seemore {
  position:relative;
  text-align:center;
  transition:0s all
}
.product-spec .bea-pro__seemore::before {
  height:40px;
  margin-top:-40px;
  content:"";
  display:block;
  background:transparent;
  background:-moz-linear-gradient(top, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.6) 50%, #fff 55%);
  background:-webkit-gradient(left top, left bottom, color-stop(0, rgba(255,255,255,0.2)), color-stop(50%, rgba(255,255,255,0.6)), color-stop(55%, #fff));
  background:-webkit-linear-gradient(top, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.6) 50%, #fff 55%);
  background:-o-linear-gradient(top, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.6) 50%, #fff 55%);
  background:-ms-linear-gradient(top, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.6) 50%, #fff 55%);
  background:linear-gradient(to bottom, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.6) 50%, #fff 55%);
  transition:0s all
}
.product-spec .bea-pro__seemore .carret {
  width:0;
  height:0;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-left:5px solid #5b5b5b;
  display:inline-block;
  vertical-align:middle;
  margin-left:2px;
  margin-bottom:2px;
  color:inherit;
  transition:0s all
}
.product-spec .bea-pro__seemore .btn-icon {
  line-height:1;
  height:auto;
  font-weight:600;
  transition:0s all
}
.product-spec .bea-pro__seemore:hover .btn-icon {
  color:#0ea04b
}
.product-spec .bea-pro__seemore:hover .carret {
  border-left:5px solid #0ea04b
}
.product-spec .heading-title {
  margin:0;
  color:#fff;
  font-size:16px;
  font-weight:600;
  text-align:center;
  display:block;
  padding:10px 0;
  text-transform:uppercase;
  background-color:#0ea04b;
  border-radius:5px 5px 0px 0px
}
.product-spec table {
  border-collapse:unset;
  border-spacing:0;
  border-color:inherit;
  border:0px;
  margin-bottom:0px
}
.product-spec table,
.product-spec #spec-modal table {
  max-width:100%;
  border:0px;
  font-size:13px
}
.product-spec table td {
  padding:5px;
  border-right:1px solid #f1f1f1;
  border-bottom:1px solid #f1f1f1;
  text-align:left
}
.product-spec table tr:nth-of-type(odd) {
  background-color:#fff
}
.product-spec table tr:first-child td {
  border-top:1px solid #f1f1f1
}
.product-spec table tr td:first-child {
  border-left:1px solid #f1f1f1;
  width:40%;
  background-color:#f9f9fb;
  font-weight:600
}
.product-spec table tr:first-child td:first-child {
  border-top-left-radius:0px
}
.product-spec table tr:first-child td:last-child {
  border-top-right-radius:0px
}
.product-spec table tr:last-child td:last-child {
  border-bottom-right-radius:5px
}
.product-spec table tr:last-child td:first-child {
  border-bottom-left-radius:5px
}
#spec-modal {
  bottom:0;
  left:0;
  overflow-x:auto;
  overflow-y:auto;
  position:fixed;
  right:0;
  top:0 !important;
  z-index:9999
}
#spec-modal .chosee_size {
  font-weight:600;
  font-size:16px;
  text-transform:uppercase
}
#spec-modal .chosee_size p {
  margin-bottom:10px
}
#spec-modal .modal-coupon-product {
  position:absolute;
  width:650px;
  top:30px;
  height:auto;
  margin:0 auto;
  left:0;
  right:0;
  padding:10px;
  background-color:#fff;
  z-index:8011;
  border-radius:5px
}
@media (max-width: 767px) {
  #spec-modal .modal-coupon-product {
    width:96%;
    padding:5px 5px 15px
  }
}
#spec-modal .modal-coupon-product .modal-body {
  max-height:500px;
  overflow-y:auto;
  padding:0px
}
#spec-modal .modal-coupon-product .modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
  border-radius:5px;
  background-color:#F5F5F5
}
#spec-modal .modal-coupon-product .modal-body::-webkit-scrollbar {
  width:5px;
  background-color:#F5F5F5
}
#spec-modal .modal-coupon-product .modal-body::-webkit-scrollbar-thumb {
  border-radius:5px;
  -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
  background-color:#e5e5e5
}
#spec-modal .modal-coupon-product .modalcoupon-close {
  position:absolute;
  right:5px;
  top:0px;
  color:#616161
}
#spec-modal .modal-coupon-product .modalcoupon-close svg {
  width:15px;
  height:15px;
  transition:transform 0.3s
}
#spec-modal .modal-coupon-product .modalcoupon-close:hover svg {
  transform:rotate(90deg)
}
#spec-modal .modalcoupon-overlay {
  position:fixed;
  top:0px !important;
  left:0;
  z-index:1040;
  width:100vw;
  height:100vh;
  background-color:#000;
  opacity:.5
}
#spec-modal .chosee_size {
  font-weight:600;
  font-size:16px;
  text-transform:uppercase
}
#spec-modal table {
  width:100%;
  margin-bottom:1em;
  border-collapse:collapse;
  border-spacing:0
}
#spec-modal .table-wrap {
  max-width:100%;
  overflow:auto;
  -webkit-overflow-scrolling:touch
}
#spec-modal th {
  font-weight:500
}
#spec-modal th,
#spec-modal td {
  text-align:center;
  padding:5px;
  border:1px solid #ebebeb;
  color:#1c1c1c
}
.layout-product {
  padding-bottom:30px;
  padding-top: 30px;
}
@media (max-width: 992px) {
  .layout-product {
    padding-bottom:1px
  }
}
.layout-product .details-pro .price-box {
  margin-top:10px;
  padding-top:10px;
  border-bottom:1px solid #e4e4e4;
  margin-bottom:10px;
  padding-bottom:10px;
  border-top:1px solid #e4e4e4;
  line-height:1.4
}
.layout-product .details-pro .price-box .special-price {
  font-size:26px;
  font-weight:600;
  color:#000;
  display:inline-block
}
@media (max-width: 767px) {
  .layout-product .details-pro .price-box .special-price {
    font-size:24px
  }
}
.layout-product .details-pro .price-box .special-price span {
  color:#c90000;
  font-size: 26px;
}
.layout-product .details-pro .price-box .old-price {
  color:#545454;
  font-size:16px;
  display:inline-block;
  text-decoration:line-through;
  margin-left:10px
}
.layout-product .details-pro .price-box .label_product {
  font-size:14px;
  border-radius:5px;
  color:#fff;
  background-color:red;
  margin-left:8px;
  line-height:24px;
  padding:3px 7px
}
@media (max-width: 767px) {
  .layout-product .details-pro .price-box .label_product {
    font-size:12px;
    line-height:22px
  }
}
@media (max-width: 322px) {
  .layout-product .details-pro .price-box .label_product {
    padding:2px 5px
  }
}
.layout-product .details-pro .price-box .save-price {
  display:block
}
.layout-product .details-pro .price-box .save-price .product-price-save {
  color:#ef1104
}
.layout-product .inventory_quantity {
  font-size:16px;
  margin-bottom:10px
}
.layout-product .inventory_quantity .thump-break .a-stock,
.layout-product .inventory_quantity .thump-break .a-vendor,
.layout-product .inventory_quantity .thump-break .variant-sku {
  font-weight:400;
  color: #0ea04b;
}
.layout-product .product-summary {
  margin-top:10px;
  font-size:14px;
  background:#f0f0f0;
  padding:10px;
  border-radius:5px
}
.layout-product .product-summary img {
  display:none
}
.layout-product .select-swatch {
  margin-bottom:10px
}
.layout-product .swatch {
  font-size:14px;
  margin-bottom:5px
}
.layout-product .swatch .header {
  margin-bottom:5px;
  font-weight:600
}
.layout-product .swatch .header .value-roperties {
  color:#0ea04b
}
.layout-product .swatch .swatch-element {
  display:inline-block;
  margin:0px 5px 5px 0
}
.layout-product .swatch .swatch-element input {
  display:none
}
.layout-product .swatch .swatch-element label {
  min-width:60px;
  height:33px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  border:1px solid #666;
  cursor:pointer;
  white-space:nowrap;
  padding:0 10px;
  position:relative;
  margin-bottom:0;
  border-radius:33px
}
.layout-product .swatch .swatch-element label .crossed-out {
  display:none
}
.layout-product .swatch .swatch-element input:checked+label {
  background:#0ea04b;
  border-color:#0ea04b;
  color:#fff
}
.layout-product .swatch .swatch-element .tooltip {
  display:none
}
.layout-product .swatch .swatch-element.color label {
  padding:0 10px 0 0
}
.layout-product .swatch .swatch-element.color label img {
  max-height:31px;
  border-radius:50%;
  background-color:#fff;
  overflow:hidden;
  padding:1px
}
.layout-product .swatch .swatch-element.color label span {
  padding-left:5px
}
.layout-product .selector-wrapper {
  display:none !important
}
.layout-product .buynow {
  margin-top:10px;
  width:100%;
  font-weight:bold;
  line-height:43px;
  display:inline-block;
  transition:0.3s all;
  background-color:#fff;
  color:#000;
  border:1px solid #7d7d7d;
  text-align:center;
  border-radius:45px
}
.layout-product .buynow:hover {
  background-color:#f8c144;
  color:#000;
  border:1px solid #f8c144
}
.layout-product .button_actions {
  display:block;
  width:100%
}
.layout-product .button_actions .btn {
  background:linear-gradient(182deg, rgb(38, 62, 152) 0%, rgb(32, 58, 146) 52%, rgb(0, 118, 191) 82%);
  color:#fff;
  padding:0px 5px;
  font-size:12px;
  text-transform:uppercase;
  border:1px solid #0ea04b;
  height:45px;
  line-height:45px;
  border-radius:45px;
  width:100%
}
.layout-product .button_actions .btn.btn[disabled] {
  opacity:0.6
}
.layout-product .button_actions .btn_add_cart {
  background:linear-gradient(182deg, #0ea04b 0%, #0ea04b 52%, #61a83e 82%);
  color:#fff;
  min-width:135px;
  font-weight:bold;
  padding:0px 10px;
  display:block;
  transition:0.3s all;
  width:100%
}
.layout-product .button_actions .btn_add_cart:hover {
  background:#0ea04b;
  color:#fff;
  border:1px solid #0ea04b;
}
.layout-product .button_actions.btnsold .buynow {
  display:none
}
.layout-product .flex-quantity {
  display:flex;
  font-size:14px;
  gap:10px
}
.layout-product .flex-quantity .flex-btntity {
  display:flex;
  font-size:14px;
  gap:10px;
  width:100%
}
@media (max-width: 767px) {
  .layout-product .flex-quantity {
    display:block
  }
  .layout-product .flex-quantity .flex-btntity {
    margin-top:10px
  }
}
.layout-product .custom-btn-number label {
  margin:0;
  font-weight:500
}
.layout-product .input_number_product {
  width:auto;
  position:relative;
  padding:0;
  border:none;
  box-shadow:none;
  background-color:transparent;
  display:inline-flex
}
.layout-product .input_number_product .btn_num {
  font-size:20px;
  line-height:0px;
  border:solid 1px #7d7d7d;
  display:inline-block;
  width:45px;
  height:45px;
  background-color:#fff;
  float:left;
  color:#333;
  text-align:center;
  padding:0px;
  font-size:16px;
  display:flex;
  justify-content:center;
  align-items:center
}
.layout-product .input_number_product .btn_num:hover {
  background-color: #0ea04b;
  color: #fff;
  border: solid 1px #0ea04b;
}
.layout-product .input_number_product .btn_num.num_1 {
  border-radius:0;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
  border-right:none
}
.layout-product .input_number_product .btn_num.num_2 {
  border-radius:0;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  border-left:none
}
.layout-product .input_number_product input {
  display:block;
  text-align:center;
  box-shadow:none;
  background:#fff;
  margin:0;
  height:45px;
  line-height:45px;
  box-shadow:none;
  border-radius:0px;
  font-size:16px;
  width:50px;
  padding:0;
  border:none;
  border-bottom:solid 1px #7d7d7d;
  border-top:solid 1px #7d7d7d
}
.layout-product .product-wish {
  border:0;
  width:45px;
  min-width:45px;
  height:45px;
  line-height:1.2;
  background:#fff;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -ms-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px solid #7d7d7d;
  border-radius:50%
}
.layout-product .product-wish svg {
  width:22px;
  height:22px
}
.layout-product .product-wish path {
  fill:#0ea04b
}
.layout-product .product-wish .setWishlist {
  padding:9px
}
.layout-product .product-wish .setWishlist.active path {
  fill:#f8c144
}
.layout-product .product-wish:hover path {
  fill:#f8c144
}
.layout-product .box_compare {
  border:0;
  width:45px;
  min-width:45px;
  height:45px;
  line-height:1.2;
  background:#fff;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -ms-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px solid #7d7d7d;
  border-radius:50%
}
.layout-product .box_compare svg {
  width:22px;
  height:22px
}
.layout-product .box_compare path {
  fill:#0ea04b
}
.layout-product .box_compare .setCompare {
  padding:9px
}
.layout-product .box_compare .setCompare.active path {
  fill:#f8c144
}
.layout-product .box_compare:hover path {
  fill:#f8c144
}
.productRelate {
  position:relative;
  margin-bottom:40px
}
@media (max-width: 992px) {
  .productRelate {
    margin-bottom:30px
  }
}
.productRelate .title {
  padding:15px 15px 0px;
  background-color:#f7f7f7;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  font-size:28px;
  font-weight:700;
  display:block;
  margin-bottom:0px
}
.productRelate .title a {
  transition:0.3s all;
  position:relative;
  color:#000;
  display:inline-flex;
  justify-content:center;
  align-items:center
}
@media (max-width: 320px) {
  .productRelate .title a {
    margin-top:5px
  }
}
.productRelate .title a:hover,
.productRelate .title a:focus {
  color:#0ea04b
}
@media (max-width: 767px) {
  .productRelate .title {
    font-size:26px;
    padding:10px 10px 0px;
    margin-bottom:0px
  }
}
@media (max-width: 320px) {
  .productRelate .title {
    font-size:20px
  }
}
.productRelate .product-relate-swiper {
  position:static;
  background-color:#f7f7f7;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  padding:15px
}
@media (max-width: 322px) {
  .productRelate .product-relate-swiper {
    padding:10px
  }
}
.productRelate .product-relate-swiper .swiper-slide {
  height:auto
}
.productRelate .tab-next-prev {
  position:absolute;
  top:15px;
  right:15px
}
@media (max-width: 767px) {
  .productRelate .tab-next-prev {
    top:10px;
    right:10px
  }
}
.productRelate .tab-next-prev svg path {
  fill:#7e7e7e
}
.productRelate .tab-next-prev .section-3-prev {
  display:inline-flex;
  width:40px;
  height:40px;
  border-radius:50%;
  text-align:center;
  background-color:#cfcfcf;
  justify-content:center;
  align-items:center
}
@media (max-width: 767px) {
  .productRelate .tab-next-prev .section-3-prev {
    width:36px;
    height:36px
  }
}
.productRelate .tab-next-prev .section-3-prev:hover {
  background-color:#0ea04b
}
.productRelate .tab-next-prev .section-3-prev:hover svg path {
  fill:#fff
}
.productRelate .tab-next-prev .section-3-next {
  display:inline-flex;
  width:40px;
  height:40px;
  border-radius:50%;
  text-align:center;
  background-color:#cfcfcf;
  justify-content:center;
  align-items:center
}
@media (max-width: 767px) {
  .productRelate .tab-next-prev .section-3-next {
    width:36px;
    height:36px
  }
}
.productRelate .tab-next-prev .section-3-next:hover {
  background-color:#0ea04b
}
.productRelate .tab-next-prev .section-3-next:hover svg path {
  fill:#fff
}
.productRelate .tab-next-prev .swiper-button-disabled {
  opacity:0.4;
  cursor:inherit;
  display:inline-flex !important
}
.productRelate .tab-next-prev>div {
  cursor:pointer
}
.section-recenview-product .recent-viewed {
  position:static;
  background-color:#f7f7f7;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  padding:15px
}
@media (max-width: 322px) {
  .section-recenview-product .recent-viewed {
    padding:10px
  }
}
.section-recenview-product .recent-viewed .swiper-slide {
  height:auto
}
.section-recenview-product .swiper-slide .product-action {
  max-width:299.75px
}
.section-recenview-product .view-next-prev {
  position:absolute;
  top:15px;
  right:15px
}
@media (max-width: 767px) {
  .section-recenview-product .view-next-prev {
    top:10px;
    right:10px
  }
}
.section-recenview-product .view-next-prev svg path {
  fill:#7e7e7e
}
.section-recenview-product .view-next-prev .section-4-prev {
  display:inline-flex;
  width:40px;
  height:40px;
  border-radius:50%;
  text-align:center;
  background-color:#cfcfcf;
  justify-content:center;
  align-items:center
}
@media (max-width: 767px) {
  .section-recenview-product .view-next-prev .section-4-prev {
    width:36px;
    height:36px
  }
}
.section-recenview-product .view-next-prev .section-4-prev:hover {
  background-color:#0ea04b
}
.section-recenview-product .view-next-prev .section-4-prev:hover svg path {
  fill:#fff
}
.section-recenview-product .view-next-prev .section-4-next {
  display:inline-flex;
  width:40px;
  height:40px;
  border-radius:50%;
  text-align:center;
  background-color:#cfcfcf;
  justify-content:center;
  align-items:center
}
@media (max-width: 767px) {
  .section-recenview-product .view-next-prev .section-4-next {
    width:36px;
    height:36px
  }
}
.section-recenview-product .view-next-prev .section-4-next:hover {
  background-color:#0ea04b
}
.section-recenview-product .view-next-prev .section-4-next:hover svg path {
  fill:#fff
}
.section-recenview-product .view-next-prev .swiper-button-disabled {
  opacity:0.4;
  cursor:inherit;
  display:inline-flex !important
}
.section-recenview-product .view-next-prev>div {
  cursor:pointer
}
@media (max-width: 767px) {
  .title-product {
    font-size:22px;
    line-height:28px;
    margin-top: 10px;
  }
  .layout-product .inventory_quantity .line {
    display:none
  }
  .layout-product .inventory_quantity .mb-break {
    display:block
  }
}
.khuyen-mai {
  margin-top:20px
}
.khuyen-mai .title {
  width:auto;
  color:#fff;
  font-weight:600;
  background:#0ea04b;
  border-radius:5px 5px 0px 0px;
  font-size:14px;
  display:inline-flex;
  padding:5px 15px;
  align-items:center;
  border:2px solid #0ea04b
}
.khuyen-mai .title img {
  width:30px;
  height:auto;
  margin-right:10px
}
.khuyen-mai .content {
  padding-bottom:5px !important;
  padding:25px 15px 15px 15px;
  border-radius:0 5px 5px 5px;
  position:relative;
  border:1px solid #0ea04b
}
.khuyen-mai .content ul li {
  display:flex;
  margin-bottom:10px;
  align-items:center
}
.khuyen-mai .content ul li img {
  width:20px;
  height:auto;
  margin-right:5px
}
.reviews_details_product {
  margin-bottom:3px;
  margin-top:3px
}
.details-product {
  margin-bottom:40px
}
@media (max-width: 992px) {
  .details-product {
    margin-bottom:25px
  }
}
@media (min-width: 767px) {
  .fix_sticky {
    top:10px;
    position:sticky
  }
}
.product-favi {
  position:relative;
  background:#fff
}
.product-favi .title-head {
  margin:0;
  color:#fff;
  font-size:16px;
  font-weight:600;
  text-align:center;
  display:block;
  padding:10px 0;
  text-transform:uppercase;
  background:linear-gradient(182deg, #0ea04b 0%, #0ea04b 52%, #61a83e 82%);
  border-radius:5px 5px 0px 0px
}
.product-favi .title-head:hover {
  color:#fff;
}
.product-favi .product-favi-content {
  padding:10px 10px 0px;
  border:1px solid #eee;
  border-top:none;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px
}
.product-favi .product-favi-content .product-view {
  display:inline-block;
  padding:0px 0px 10px;
  background:#fff;
  position:relative;
  width:100%
}
.product-favi .product-favi-content .product-view:last-child {
  border-bottom:none
}
.product-favi .product-favi-content .product-view .image_thumb {
  display:inline-block;
  float:left;
  width:100%;
  width:65px;
  border:1px solid #ededed;
  border-radius:5px;
  padding:2px
}
.product-favi .product-favi-content .product-view .product-info {
  display:block;
  float:left;
  width:calc(100% - 65px);
  -o-width:calc(100% - 65px);
  -moz-width:calc(100% - 65px);
  -webkit-width:calc(100% - 65px);
  padding-left:10px
}
.product-favi .product-favi-content .product-view .product-info {
  margin:0px;
  position:relative
}
.product-favi .product-favi-content .product-view .product-info h3 {
  padding:0;
  text-overflow:ellipsis;
  text-decoration:none;
  font-size:14px;
  font-weight:700;
  margin:0px;
  padding-bottom:3px;
  line-height:20px;
  text-transform:capitalize;
  max-height:40px;
  overflow:hidden;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical
}
@media (max-width: 1199px) {
  .product-favi .product-favi-content .product-view .product-info h3 {
    font-size:14px
  }
}
.product-favi .product-favi-content .product-view .product-info .price-box {
  color:#cc2020;
  line-height:23px;
  display:block;
  font-size:14px;
  font-weight:700
}
.product-favi .product-favi-content .product-view .product-info .price-box .price {
  padding-right:5px
}
.product-favi .product-favi-content .product-view .product-info .price-box .compare-price {
  text-decoration:line-through;
  font-size:12px;
  color:#9e9e9e;
  line-height:24px;
  font-weight:300
}
.pro-discount {
  position:relative;
  background:#fff;
  border-radius:5px;
  margin-bottom:25px;
  margin-top:25px;
  padding:10px;
  background:rgba(59,183,126,0.1);
  width: 100%;
}
.pro-discount .title_discount {
  color:#0ea04b;
  font-weight:700;
  font-size:28px;
  margin-bottom:10px;
  padding:0px 10px;
  display:block;
  text-align:center
}
@media (max-width: 767px) {
  .pro-discount .title_discount {
    font-size:24px
  }
}
.pro-discount .item_discount {
  position:relative;
  background:#fff;
  filter:drop-shadow(0px 0px 3px rgba(0,0,0,0.15));
  padding:5px;
  width:24%;
  margin-right:12px;
  display:inline-block;
  border-radius:5px;
  margin-bottom:5px
}
@media (max-width: 1199px) {
  .pro-discount .item_discount {
    margin-right:9px
  }
}
@media (max-width: 992px) {
  .pro-discount .item_discount {
    margin-right:5px
  }
}
@media (max-width: 767px) {
  .pro-discount .item_discount {
    margin-bottom:10px;
    width:100%;
    margin-right:0px
  }
}
.pro-discount .item_discount:last-child {
  margin-bottom:0px;
  margin-right:0px
}
.pro-discount .item_discount .top_discount {
  position:relative;
  display:flex;
  justify-content:space-between
}
.pro-discount .item_discount .top_discount .item-name {
  display:inherit
}
.pro-discount .item_discount .top_discount .code_dis {
  margin-bottom:0px;
  font-weight:700;
  font-size:16px;
  line-height:18px;
  position:relative;
  color:#f8c144
}
.pro-discount .item_discount .top_discount span {
  position:relative;
  background-color:#FDF2D9;
  color:#F0A800;
  margin-left:10px;
  display:inline-block;
  vertical-align:middle;
  font-size:10px;
  text-align:center;
  border-radius:10px;
  padding:2px 10px;
  line-height:16px
}
.pro-discount .item_discount .top_discount img {
  width:36px;
  height:20px;
  position:relative;
  display:inline-block
}
.pro-discount .item_discount .coupon_desc {
  border-bottom:dotted 1px #f5f5f5;
  font-size: 14px;
}
.pro-discount .item_discount .copy_discount {
  padding:3px;
  margin-top:5px;
  position:relative;
  background-color:#f5f5f5;
  border-radius:5px;
  display:flex;
  justify-content:space-between;
  align-items:center
}
.pro-discount .item_discount .copy_discount .code_zip {
  margin-bottom:0px;
  display:inline-block;
  font-size:16px;
  text-transform:uppercase;
  font-weight:600;
  line-height:24px
}
.pro-discount .item_discount .copy_discount.active {
  background-color:#f7edd3
}
.pro-discount .item_discount .copy_discount.active .code_zip {
  color:#f8c144
}
.pro-discount .item_discount .copy_discount .dis_copy {
  background:#0ea04b;
  color:#fff;
  border:none;
  padding:0px 15px;
  margin:1px 0px;
  cursor:pointer;
  outline:none !important;
  box-shadow:none;
  border-radius:24px;
  line-height:24px;
  height:24px;
  font-size:12px;
  font-weight:500;
  float:right
}
.pro-discount .item_discount .copy_discount .dis_copy:hover,
.pro-discount .item_discount .copy_discount .dis_copy:focus {
  background:#f8c144;
  color:#000
}
.pro-discount .item_discount .copy_discount .dis_copy span {
  display:block;
  line-height:22px;
  font-size:12px
}
.pro-discount .item_discount .copy_discount .dis_copy.disabled {
  opacity:0.6;
  cursor:not-allowed
}
.pro-discount .item_discount .copy_discount .dis_copy_2 {
  background:#0ea04b;
  color:#fff;
  border:none;
  padding:0px 15px;
  cursor:pointer;
  outline:none !important;
  box-shadow:none;
  border-radius:3px;
  line-height:24px;
  height:24px;
  font-size:12px;
  float:right;
  font-weight:500
}
.pro-discount .item_discount .copy_discount .dis_copy_2:hover,
.pro-discount .item_discount .copy_discount .dis_copy_2:focus {
  background:#f8c144
}
.pro-discount .item_discount .copy_discount .dis_copy_2 span {
  display:block;
  line-height:22px;
  font-size:12px
}
.pro-discount .item_discount .copy_discount .dis_copy_2.disabled {
  opacity:0.6;
  cursor:not-allowed
}
.product-tab {
  margin-bottom:25px
}
.product-tab .tabs-title {
  padding:0;
  margin:0;
  list-style:none;
  display:flex;
  flex-wrap:wrap;
  margin-bottom:20px;
  border-bottom:1px solid #D9D9D9
}
@media (max-width: 767px) {
  .product-tab .tabs-title {
    justify-content:flex-start;
    width:100%;
    overflow-x:scroll;
    flex-wrap:nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    display:flex
  }
}
.product-tab .tab-link {
  cursor:pointer;
  margin-right:20px
}
.details-product .product-tab .tab-link {
  margin-right:0px
}
@media (max-width: 767px) {
  .product-tab .tab-link {
    white-space:nowrap
  }
}
.product-tab .tab-link h3 {
  color:#000;
  margin:0;
  font-size:16px;
  font-weight:700;
  padding:9.42px 15px;
  position:relative;
  border-radius:5px 5px 0px 0px
}
.product-tab .tab-link.active h3,
.product-tab .tab-link:hover h3 {
  color:#fff;
  background:linear-gradient(182deg, #0ea04b 0%, #0ea04b 52%, #61a83e 82%);
}
.product-tab .tab-content {
  opacity:0;
  visibility:hidden;
  height:0
}
.product-tab .tab-content.active {
  opacity:1;
  visibility:visible;
  height:auto
}
.product-tab .tab-content .content_coll {
  max-height:440px;
  overflow:hidden;
  position:relative;
  margin-bottom:15px
}
.product-tab .tab-content .content_coll.active {
  max-height:initial
}
.product-tab .tab-content .view_mores a.active {
  display:none
}
.product-tab .tab-content .bg_cl {
  position:absolute;
  width:100%;
  height:60%;
  top:auto !important;
  bottom:0px;
  background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.4) 15%, #fff)
}
.product-tab .tab-content .bg_cl.active {
  display:none
}
.product-tab .tab-content .view_mores a {
  display:inline-block;
  padding:5px 15px;
  color:#000;
  cursor:pointer;
  font-size:18px;
  font-weight:500;
  border:1px solid #000;
  border-radius:30px;
  background-color:#fff;
  transition:0.3s all
}
.product-tab .tab-content .view_mores a:hover {
  background-color:#0ea04b;
  color:#fff;
  border:1px solid #0ea04b;
}
.product-tab .tab-content .view_mores a:hover img {
  filter:brightness(0) invert(1)
}
.product-tab .tab-content a.one .fa {
  margin-right:6px
}
.product-tab .tab-content .view_mores {
  text-align:center
}
.product-tab .tab-content .view_mores img {
  max-width:16px;
  vertical-align:-1px;
  transition:0.3s all
}
.product-tab .tab-content .view_mores .two img {
  transform:rotate(180deg)
}
.product-tab .tab-content .alert-info {
  color:#243d96;
  background-color:rgb(186, 221, 242);
  border-color:#0076bf;
}
.product-tab .tab-content .alert-info .alert-link {
  color:#062c33
}
.product-tab .product_getcontent {
  position:relative
}
.product-tab .product_getcontent ul {
  list-style:initial;
  padding-left:25px;
  margin-bottom:15px
}
@media (max-width: 991px) and (min-width: 767px) {
  .product-right {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding:0
  }
  .product-right>div {
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px;
    -ms-flex:0 0 calc(50% - 10px);
    flex:0 0 calc(50% - 10px);
    max-width:calc(50% - 10px);
    margin-top:0;
    border:0;
    border-radius:0px
  }
}
@-webkit-keyframes pulseSmall {
  50% {
    opacity:0.3;
    transform:scale(1.3)
  }
}
.thump-check {
  height:10px;
  position:relative;
  font-size:12px;
  text-align:center;
  background:#e7e7e7;
  margin-top:10px;
  border-radius:5px;
  overflow:hidden
}
.thump-check .check-bar1 {
  position:absolute;
  height:8px;
  top:0px;
  border-radius:5px;
  background-color:#0ea04b;
  -webkit-animation:progress_bar_fill 2s linear infinite;
  animation:progress_bar_fill 2s linear infinite;
  background-image:linear-gradient(45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
  background-size:40px 40px;
  transition:width .6s ease;
  height:100%
}
.check-bar {
  display:inline-block;
  width:100%;
  height:100%;
  z-index:1;
  color:#000;
  position:relative;
  margin-top:10px
}
@keyframes progress_bar_fill {
  0% {
    background-position:0 0
  }
  100% {
    background-position:40px 0
  }
}
.chinhsach-pro {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-10px;
  margin-left:-10px;
  margin-top:15px;
  margin-bottom:15px
}
@media (max-width: 767px) {
  .chinhsach-pro {
    margin-bottom:0px;
    margin-right:-7.5px;
    margin-left:-7.5px
  }
}
.chinhsach-pro li {
  -ms-flex:0 0 50%;
  flex:0 0 50%;
  max-width:50%;
  position:relative;
  width:100%;
  padding-right:15px;
  padding-left:15px;
  display:flex;
  align-items:center;
  margin-bottom:10px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .chinhsach-pro li {
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%
  }
}
.chinhsach-pro li img {
  width:32px;
  margin-right:10px
}
.content-product .title {
  font-size:20px;
  font-weight:900;
  margin-bottom:20px
}
.content-product .item_product_main {
  margin-bottom:20px
}
.thump-swatch {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap
}
#spec-modal {
  bottom:0;
  left:0;
  overflow-x:auto;
  overflow-y:auto;
  position:fixed;
  right:0;
  top:0 !important;
  z-index:9999
}
#spec-modal .chosee_size {
  font-weight:600;
  font-size:16px;
  text-transform:uppercase
}
#spec-modal .chosee_size p {
  margin-bottom:10px
}
#spec-modal .modal-coupon-product {
  position:absolute;
  width:650px;
  top:30px;
  height:auto;
  margin:0 auto;
  left:0;
  right:0;
  padding:10px;
  background-color:#fff;
  z-index:8011;
  border-radius:5px
}
@media (max-width: 767px) {
  #spec-modal .modal-coupon-product {
    width:96%;
    padding:5px 5px 15px
  }
}
#spec-modal .modal-coupon-product .modal-body {
  max-height:500px;
  overflow-y:auto;
  padding:0px
}
#spec-modal .modal-coupon-product .modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
  border-radius:5px;
  background-color:#F5F5F5
}
#spec-modal .modal-coupon-product .modal-body::-webkit-scrollbar {
  width:5px;
  background-color:#F5F5F5
}
#spec-modal .modal-coupon-product .modal-body::-webkit-scrollbar-thumb {
  border-radius:5px;
  -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
  background-color:#e5e5e5
}
#spec-modal .modal-coupon-product .modalcoupon-close {
  position:absolute;
  right:5px;
  top:0px;
  color:#616161
}
#spec-modal .modal-coupon-product .modalcoupon-close svg {
  width:15px;
  height:15px;
  transition:transform 0.3s
}
#spec-modal .modal-coupon-product .modalcoupon-close:hover svg {
  transform:rotate(90deg)
}
#spec-modal .modalcoupon-overlay {
  position:fixed;
  top:0px !important;
  left:0;
  z-index:1040;
  width:100vw;
  height:100vh;
  background-color:#000;
  opacity:.5
}
#spec-modal .chosee_size {
  font-weight:600;
  font-size:16px;
  text-transform:uppercase
}
.share-group {
  margin:15px 0px
}
@media (min-width: 991px) {
  .share-group {
    justify-content:center
  }
}
.share-group__item {
  display:inline-block;
  width:30px;
  height:30px;
  border-radius:999px;
  color:#fff;
  line-height:30px;
  text-align:center;
  cursor:pointer;
  transition:opacity .3s ease
}
.share-group__item:hover {
  color:#fff;
  opacity:0.6
}
.share-group__item {
  margin-left:8px
}
.section_prd_feature .item_product_main {
  max-width:240px
}
.popup-video {
  position:fixed;
  z-index:99999;
  top:0 !important;
  left:0;
  right:0;
  text-align:center;
  bottom:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background:rgba(0,0,0,0.89);
  display:none
}
.popup-video.active {
  display:flex
}
.popup-video .close-popup-video {
  background:#fff;
  color:#000;
  position:absolute;
  right:10px;
  top:10px;
  padding:5px 10px;
  border-radius:5px;
  cursor:pointer
}
.popup-video .close-popup-video:hover {
  opacity:0.8
}
.popup-video iframe {
  height:calc(100vh - 200px);
  width:1100px
}
@media (max-width: 1100px) {
  .popup-video iframe {
    width:700px
  }
}
@media (max-width: 767px) {
  .popup-video .body-popup {
    padding:0 5px;
    width:100%
  }
  .popup-video .body-popup iframe {
    width:100%;
    height:300px
  }
}
.thuong_hieu_content {
  border-radius:5px;
  margin-bottom:25px;
  margin-top:25px;
  padding:15px;
  background:rgba(59,183,126,0.1)
}
.thuong_hieu_content .title_thuong_hieu {
  font-size:22px;
  color:#000;
  margin-bottom:15px;
  font-weight:700
}
.thuong_hieu_content .title_thuong_hieu span {
  color:#0ea04b
}
.thuong_hieu_content .buttnon_vendor a {
  padding:7px 15px;
  border:1px solid #0ea04b;
  color:#0ea04b;
  background-color:#fff;
  border-radius:20px;
  font-weight:500
}
@media (max-width: 322px) {
  .thuong_hieu_content .buttnon_vendor a {
    padding:7px 10px;
    font-size:13px
  }
}
.thuong_hieu_content .buttnon_vendor a:hover {
  border:1px solid #f8c144;
  color:#000;
  background-color:#f8c144
}
.thuong_hieu_content .content_venpro ul {
  list-style:initial;
  padding-left:25px;
  margin-bottom:15px
}
.thuong_hieu_content .content_venpro img {
  max-width:180px
}
.btn-hethong {
  margin:auto;
  font-weight:500;
  color: #0ea04b;
  line-height:1;
  display:inline-block;
  margin-bottom:15px
}
.btn-hethong svg {
  width:22px;
  height:22px;
  vertical-align:-5px
}
.btn-hethong:hover {
  color:#000;
}
#modal-size-product {
  bottom:0;
  left:0;
  overflow-x:auto;
  overflow-y:auto;
  position:fixed;
  right:0;
  top:0 !important;
  z-index:9999
}
#modal-size-product .modal-size-product {
  position:absolute;
  width:650px;
  top:5%;
  height:auto;
  margin:0 auto;
  left:0;
  right:0;
  padding:5px;
  background-color:#fff;
  z-index:8011;
  border-radius:5px
}
@media (max-width: 767px) {
  #modal-size-product .modal-size-product {
    width:90%
  }
}
#modal-size-product .modal-size-product .modalsize-close {
  position:absolute;
  right:5px;
  top:0px;
  color:#616161
}
#modal-size-product .modal-size-product .modalsize-close svg {
  width:15px;
  height:15px;
  transition:transform 0.3s
}
#modal-size-product .modal-size-product .modalsize-close:hover svg {
  transform:rotate(90deg)
}
#modal-size-product .modalsize-overlay {
  position:fixed;
  top:0px !important;
  left:0;
  z-index:1040;
  width:100vw;
  height:100vh;
  background-color:#000;
  opacity:.5
}
#modal-size-product .option-chos .option-title {
  font-weight:bold;
  margin-bottom:5px
}
#modal-size-product .option-chos .group-option {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-5px;
  margin-left:-5px;
  margin-bottom:10px
}
#modal-size-product .option-chos .group-option .group {
  position:relative;
  width:100%;
  padding-right:5px;
  padding-left:5px;
  -ms-flex:0 0 50%;
  flex:0 0 50%;
  max-width:50%
}
#modal-size-product .option-chos .group-option .group select {
  width:100%;
  padding:5px;
  border:1px solid #ccc;
  border-radius:5px
}
#modal-size-product .option-chos .info-store {
  border:1px solid #ccc;
  border-radius:5px;
  padding:7px 10px 0
}
#modal-size-product .option-chos .info-store .store-list {
  margin-bottom:7px;
  padding-right:100px;
  position:relative;
  padding-left:14px
}
#modal-size-product .option-chos .info-store .store-list:before {
  content:"";
  position:absolute;
  top:8px;
  left:0;
  width:5px;
  height:5px;
  background:#0ea04b;
  border-radius:50%
}
#modal-size-product .option-chos .info-store .store-list .store-phone {
  position:absolute;
  top:5px;
  right:0
}
#modal-size-product .option-chos .info-store .store-list .store-phone a {
  border:1px solid #ccc;
  padding:5px 10px;
  font-size:12px;
  border-radius:5px
}
.combo-pro {
  margin-bottom:25px;
  position:relative
}
.combo-pro .title_nguyen_lieu {
  font-size:22px;
  color:#000;
  margin-bottom:15px;
  font-weight:700
}
.combo-pro .title_nguyen_lieu span {
  color:#0ea04b
}
.combo-pro .tabs-title {
  display:block;
  text-align:center;
  display:-ms-flexbox
}
.combo-pro .tabs-title .tab-link {
  position:relative;
  background:none;
  cursor:pointer;
  margin-right:15px;
  margin-bottom:5px;
  flex:0 0 auto;
  max-width:inherit;
  width:auto;
  text-align:center;
  border:1px solid #f4f6f9;
  padding:4px;
  border-radius:5px;
  margin-bottom:20px
}
.combo-pro .tabs-title .tab-link:last-child {
  margin-right:0px
}
.combo-pro .tabs-title .tab-link .thumb {
  padding-bottom:100%;
  overflow:hidden;
  height:auto;
  display:block;
  position:relative;
  border-radius:5px
}
.combo-pro .tabs-title .tab-link .thumb img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  -o-object-fit:cover;
  object-fit:cover;
  border-radius:5px
}
.combo-pro .tabs-title .tab-link .thumb span {
  position:absolute;
  bottom:0px;
  left:0px;
  background-color:rgba(130,130,130,0.5);
  width:100%;
  line-height:16px;
  padding:5px 10px;
  font-size:14px;
  font-weight:700;
  text-align:center;
  color:#fff;
  transition:all 0.3s ease-in-out;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-line-clamp:2;
  height:44px
}
.combo-pro .tabs-title .tab-link:hover {
  border:1px solid #0ea04b
}
.combo-pro .tabs-title .tab-link.current {
  border:1px solid #0ea04b
}
.combo-pro .tabs-title .tab-link .arrow-message {
  width:20px;
  height:20px;
  border:2px solid #0ea04b;
  transform:translateX(-50%) rotate(45deg);
  bottom:-31px
}
.combo-pro .tabs-title .tab-link .arrow-message,
.combo-pro .tabs-title .tab-link .arrow-message-white {
  position:absolute;
  left:50%;
  z-index:-1;
  margin-top:-25px;
  display:none
}
.combo-pro .tabs-title .tab-link .arrow-message-white {
  width:19px;
  height:19px;
  border:1px solid #fff;
  transform:translateX(-50%) rotate(45deg) scale(1.105);
  bottom:-33px;
  background:#fff
}
.combo-pro .tabs-title .tab-link.current .arrow-message,
.combo-pro .tabs-title .tab-link.current .arrow-message-white {
  display:block
}
.combo-pro .tab-content {
  opacity:0;
  visibility:hidden;
  height:0;
  overflow:hidden
}
.combo-pro .tab-content .swiper-cate-2 {
  padding:10px
}
.combo-pro .tab-content.current {
  opacity:1;
  visibility:visible;
  height:auto;
  padding:2px;
  border:1px solid #0ea04b;
  border-radius:5px
}
.form-product{
  width: 100%;
}
.product-detail-img{
  margin-left: 0px !important;
}
.product-detail-img-left{
  margin-right: 11px;
}
@media (max-width: 786px) {
  .product-images{
    flex-direction: column-reverse;
  }
  .product-detail-img{
    margin-left: 0px !important;
    margin-bottom: 0px;
  }
  .product-detail-img-big img {
    height: auto !important;
  }
  .product-detail-img-left {
    width: 100% !important;
  }
  .product-detail-img-small{
    margin: 10px 5px 0px 5px !important;
  }
}

.autoplay5-pro-2 .item_product_main{
  margin: 0px 5px;
}

